@keyframes fadeScaleIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeScaleOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  
  .swal2-animate-show {
    animation: fadeScaleIn 0.3s ease-out;
  }
  
  .swal2-animate-hide {
    animation: fadeScaleOut 0.2s ease-in;
  }
  